@model Yediginibil.WebUI.Models.Blog.DetailsViewModel
@{
    ViewData["Title"] = Model.SeoTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link rel="stylesheet" href="~/theme/css/blog-details.css">
    <link href="~/atheme/assets/plugin/toastr/toastr.min.css" rel="stylesheet" />
}

<section class="inner-section blog-grid" style="margin-top: 25px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-12">
                        <article class="blog-details">
                            <a class="blog-details-thumb" href="">
                                <img src="~/@Model.Image" alt="@Model.SeoTitle" title="@Model.SeoTitle" style="">
                            </a>
                            <div class="blog-details-content">
                                <ul class="blog-details-meta">
                                    <li>
                                        <i class="icofont-ui-calendar"></i>
                                        <span>@(((DateTime)Model.CreatingDate).ToString("dd.MM.yyyy"))</span>
                                    </li>
                                    <li>
                                        <i class="icofont-user-alt-3"></i>
                                        <span>@Model.Category.Title</span>
                                    </li>
                                    <li>
                                        <i class="icofont-speech-comments"></i>
                                        <span> @Model.CommentCount Yorum</span>
                                    </li>
                                </ul>
                                <h2 class="blog-details-title">@Model.Title</h2>
                                <p class="blog-details-desc">
                                    @Html.Raw(Model.Description)
                                </p>

                                <div class="blog-details-footer">
                                    <ul class="blog-details-share">
                                        <li><span>Paylaş:</span></li>
                                        <li><a href="#" class="icofont-facebook"></a></li>
                                        <li><a href="#" class="icofont-twitter"></a></li>
                                        <li><a href="#" class="icofont-linkedin"></a></li>
                                        <li><a href="#" class="icofont-pinterest"></a></li>
                                        <li><a href="#" class="icofont-instagram"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </article>
                        <div class="blog-details-comment">
                            <h3 class="comment-title">@Model.CommentCount Yorum</h3>
                            <ul class="comment-list">
                                @if (Model.CommentCount == 0)
                                {
                                    <li>
                                        <h4>"@Model.Title" için henüz yorum yapılmamıştır. İlk yorumu siz yapın..</h4>
                                    </li>
                                }
                                @foreach (var comment in Model.Comments)
                                {
                                    <li class="comment-item">
                                        <div class="comment-media">
                                            <a class="comment-avatar" href="#">
                                                <img src="~/theme/images/avatar/user.png" alt="yediğini bil yorum">
                                            </a>
                                            <h6 class="comment-meta">
                                                <a href="#">@comment.NameSurname</a>
                                                <span>@(((DateTime)comment.CreatingDate).ToString("dd.MM.yyyy"))</span>
                                            </h6>
                                        </div>
                                        <p class="comment-desc">@comment.Content</p>
                                    </li>
                                }

                            </ul>
                        </div>
                        <form class="blog-details-form" method="post" action="~/Blog/CommentAdd">
                            <h3 class="details-form-title">Yorum Yap</h3>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="Yorumunuzu yazın.." name="Content"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Ad soyad yazın.." name="NameSurname">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="E-mail adresinizi yazın.." name="Email">
                                        <input type="hidden" name="Type" value="False" />
                                        <input type="hidden" name="BlogId" value="@Model.Id" />
                                        <input type="hidden" name="ProductId" value="0" />
                                        <input type="hidden" name="Star" value="0" />
                                        <input type="hidden" name="Status" value="False" />
                                        <input type="hidden" name="BlogSeoUrl" value="@Model.SeoUrl" />
                                    </div>
                                </div>
                            </div>
                            <button class="form-btn" type="submit">Yorumu Gönder</button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bottom-paginate">
                            <p class="page-info">Showing 12 of 60 Results</p>
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#">
                                        <i class="fas fa-long-arrow-alt-left"></i>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link active" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">...</li>
                                <li class="page-item"><a class="page-link" href="#">60</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">
                                        <i class="fas fa-long-arrow-alt-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-lg-4">
                <div class="blog-widget">
                    @await Component.InvokeAsync("BlogSearch")
                </div>
                <div class="blog-widget">
                    @await Component.InvokeAsync("BlogPopular")
                </div>
                <div class="blog-widget">
                    @await Component.InvokeAsync("BlogCategories")
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <link rel="stylesheet" href="~/theme/css/blog-details.css">
    <script src="~/atheme/assets/plugin/toastr/toastr.min.js"></script>

    @{ if ((string)TempData["Message"] == "Success")
        {
            <script>
                $(document).ready(function onDocumentReady() {
                    toastr.success("@TempData["Message_Detail"]");
                });
            </script>
        }
        else if ((string)TempData["Message"] == "Error")
        {
            <script>
                $(document).ready(function onDocumentReady() {
                    toastr.error("@TempData["Message_Detail"]");
                });
            </script>
        }
    }
}