@model Yediginibil.WebUI.Areas.Admin.Models.Menu.AddViewModel
@{
    ViewData["Title"] = "Düzenle - Menüler";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section Styles{
    <link href="~/atheme/assets/plugin/toastr/toastr.min.css" rel="stylesheet" />
}


<div class="row small-spacing">
    <div class="col-xs-12">
        <div class="box-content">
            <h4 class="box-title">@ViewData["Title"]</h4>
            <!-- /.box-title -->
            <div class="card-content">
                <form method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        @Html.Label("Başlık")
                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = "Menü adını giriniz." })
                    </div>
                    <div class="form-group">
                        @Html.Label("Yayınlansın mı?")
                        @Html.CheckBoxFor(m => m.Status)
                    </div>

                    <button type="submit" class="btn btn-primary btn-sm waves-effect waves-light">Güncelle</button>
                    <div class="pull-right">
                        <a class="btn btn-danger btn-sm waves-effect waves-light float-right" href="~/Admin/Menu/Delete/@Model.Id">Sil</a>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.box-content -->
    </div>
    <!-- /.col-xs-12 -->
</div>

@section Scripts{
    <!-- Demo Scripts -->
    <script src="~/atheme/assets/scripts/form.demo.min.js"></script>

    <script src="~/atheme/assets/plugin/toastr/toastr.min.js"></script>

    @{ if ((string)TempData["Message"] == "Success")
        {
            <script>
                $(document).ready(function onDocumentReady() {
                    toastr.success("@TempData["Message_Detail"]");
                });
            </script>
        }
        else if ((string)TempData["Message"] == "Error")
        {
            <script>
                $(document).ready(function onDocumentReady() {
                    toastr.error("@TempData["Message_Detail"]");
                });
            </script>
        }
    }
}