@model Yediginibil.WebUI.Models.Product.DetailsViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{

    <link rel="stylesheet" href="~/theme/css/product-details.css">
}

<!--=====================================
                PRODUCT DETAILS PART START
        =======================================-->
<section class="inner-section" style="margin-top: 25px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="details-gallery">
                    <div class="details-label-group">
                        <label class="details-label new">katkısız</label>
                        <label class="details-label off">katkısız</label>
                        <label class="details-label sale">katkısız</label>
                    </div>
                    <ul class="details-preview">
                        @*<li><img src="~/@Model.Product.ImageUrl" alt="product"></li>*@
                        <li><img src="~/@Model.ImageUrl" alt="product"></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="details-content">
                    @*<h3 class="details-name"><a href="#">@Model.Product.Title</a></h3>*@
                    <h3 class="details-name"><a href="#">@Model.Title</a></h3>
                    <div class="details-rating">
                        <i class="active icofont-star"></i>
                        <i class="active icofont-star"></i>
                        <i class="active icofont-star"></i>
                        <i class="active icofont-star"></i>
                        <i class="icofont-star"></i>
                        <a href="#">(3 reviews)</a>
                    </div>
                    @*<p class="details-desc">@Model.Product.ShortDescription</p>*@
                    <p class="details-desc">@Model.ShortDescription</p>
                    <div class="details-list-group">
                        <label class="details-list-title">İçindekiler:</label>
                        <ul class="details-tag-list">
                            @foreach (var item in Model.Ingredients)
                            {
                                <li><a href="@item.Id">@item.Title</a></li>
                            }
                        </ul>
                    </div>
                    <div class="details-list-group">
                        <label class="details-list-title">Share:</label>
                        <ul class="details-share-list">
                            <li><a href="#" class="icofont-facebook" title="Facebook"></a></li>
                            <li><a href="#" class="icofont-twitter" title="Twitter"></a></li>
                            <li><a href="#" class="icofont-linkedin" title="Linkedin"></a></li>
                            <li><a href="#" class="icofont-instagram" title="Instagram"></a></li>
                        </ul>
                    </div>
                    <div class="details-spec-list">
                        <ul class="product-navigation" style="padding: 0px; text-align: center; display: table;">
                            <li class="product-nav-prev" style="display: table-cell;">
                                <a href="#">
                                    <div class="intro-icon">
                                        <i class="fas fa-leaf" style="width: 85px;height: 85px;font-size: 40px;line-height: 75px;"></i><br>
                                        Vegan Uygun
                                    </div>
                                    <span class="product-nav-popup">
                                        <small>Vegan tüketime uygun.</small>
                                    </span>
                                </a>
                            </li>
                            <li class="product-nav-prev" style="display: table-cell;">
                                <a href="#">
                                    <div class="intro-icon">
                                        <i class="fas fa-leaf" style="width: 85px;height: 85px;font-size: 40px;line-height: 75px;"></i><br>
                                        Gluten İçermez
                                    </div>
                                    <span class="product-nav-popup">
                                        <small>Ürün bileşenleri gluten içermez. (*) Çölyak rahatsızlığınız varsa etiket kontrolü yapmadan tüketmeyin, ürün içerikleri güncellenebiliyor.</small>
                                    </span>
                                </a>
                            </li>
                            <li class="product-nav-prev" style="display: table-cell;">
                                <a href="#">
                                    <div class="intro-icon">
                                        <i class="fas fa-times" style="width: 85px;height: 85px;font-size: 40px;line-height: 75px; color:#E60023;border: 3px double #E60023;"></i><br>
                                        Organik Değil
                                    </div>
                                    <span class="product-nav-popup">
                                        <small>Organik ürün belgesine sahip değildir.</small>
                                    </span>
                                </a>
                            </li>
                            <li class="product-nav-prev" style="display: table-cell;">
                                <a href="#">
                                    <div class="intro-icon">
                                        <i class="fas fa-leaf" style="width: 85px;height: 85px;font-size: 40px;line-height: 75px;"></i><br>
                                        Helal Bileşenli
                                    </div>
                                    <span class="product-nav-popup">
                                        <small>İçerdiği bileşenler bakımından helal tüketime uygun.</small>
                                    </span>
                                </a>
                            </li>
                            <li class="product-nav-prev" style="display: table-cell;">
                                <a href="#">
                                    <div class="intro-icon">
                                        <i class="fas fa-leaf" style="width: 85px;height: 85px;font-size: 40px;line-height: 75px;"></i><br>
                                        Vejetaryen Uygun
                                    </div>
                                    <span class="product-nav-popup">
                                        <small>Vejetaryen tüketime uygun.</small>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=====================================
        PRODUCT DETAILS PART END
=======================================-->
<!--=====================================
          PRODUCT TAB PART START
=======================================-->
<section class="inner-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="product-details-frame">
                    <h3 class="frame-title">Ürün Açıklaması</h3>
                    <div class="tab-descrip">
                        @*@Html.Raw(Model.Product.LongDescription)*@
                        @Html.Raw(Model.LongDescription)
                    </div>
                </div>
                <div class="product-details-frame">
                    <h3 class="frame-title">Besin Değerleri</h3>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td>Besin Değeri</td>
                                <td>100 g / ml</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Product code</th>
                                <td>SKU: 101783</td>
                            </tr>
                            <tr>
                                <th scope="row">Weight</th>
                                <td>1kg, 2kg</td>
                            </tr>
                            <tr>
                                <th scope="row">Styles</th>
                                <td>Girly</td>
                            </tr>
                            <tr>
                                <th scope="row">Properties</th>
                                <td>Short Dress</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="product-details-frame">
                    <h3 class="frame-title">Yorumlar (2)</h3>
                    <ul class="review-list">
                        <li class="review-item">
                            <div class="review-media">
                                <a class="review-avatar" href="#">
                                    <img src="~/theme/images/avatar/01.jpg" alt="review">
                                </a>
                                <h5 class="review-meta">
                                    <a href="#">miron mahmud</a>
                                    <span>June 02, 2020</span>
                                </h5>
                            </div>
                            <ul class="review-rating">
                                <li class="icofont-ui-rating"></li>
                                <li class="icofont-ui-rating"></li>
                                <li class="icofont-ui-rating"></li>
                                <li class="icofont-ui-rating"></li>
                                <li class="icofont-ui-rate-blank"></li>
                            </ul>
                            <p class="review-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus hic amet qui velit, molestiae suscipit perferendis, autem doloremque blanditiis dolores nulla excepturi ea nobis!</p>
                            <form class="review-reply">
                                <input type="text" placeholder="reply your thoughts">
                                <button><i class="icofont-reply"></i>reply</button>
                            </form>
                            <ul class="review-reply-list">
                                <li class="review-reply-item">
                                    <div class="review-media">
                                        <a class="review-avatar" href="#">
                                            <img src="~/theme/images/avatar/02.jpg" alt="review">
                                        </a>
                                        <h5 class="review-meta">
                                            <a href="#">labonno khan</a>
                                            <span><b>author -</b> June 02, 2020</span>
                                        </h5>
                                    </div>
                                    <p class="review-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus hic amet qui velit, molestiae suscipit perferendis, autem doloremque blanditiis dolores nulla excepturi ea nobis!</p>
                                    <form class="review-reply">
                                        <input type="text" placeholder="reply your thoughts">
                                        <button><i class="icofont-reply"></i>reply</button>
                                    </form>
                                </li>
                                <li class="review-reply-item">
                                    <div class="review-media">
                                        <a class="review-avatar" href="#">
                                            <img src="~/theme/images/avatar/03.jpg" alt="review">
                                        </a>
                                        <h5 class="review-meta">
                                            <a href="#">tahmina bonny</a>
                                            <span>June 02, 2020</span>
                                        </h5>
                                    </div>
                                    <p class="review-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus hic amet qui velit, molestiae suscipit perferendis, autem doloremque blanditiis dolores nulla excepturi ea nobis!</p>
                                    <form class="review-reply">
                                        <input type="text" placeholder="reply your thoughts">
                                        <button><i class="icofont-reply"></i>reply</button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                        <li class="review-item">
                            <div class="review-media">
                                <a class="review-avatar" href="#">
                                    <img src="~/theme/images/avatar/04.jpg" alt="review">
                                </a>
                                <h5 class="review-meta">
                                    <a href="#">shipu shikdar</a>
                                    <span>June 02, 2020</span>
                                </h5>
                            </div>
                            <ul class="review-rating">
                                <li class="icofont-ui-rating"></li>
                                <li class="icofont-ui-rating"></li>
                                <li class="icofont-ui-rating"></li>
                                <li class="icofont-ui-rating"></li>
                                <li class="icofont-ui-rate-blank"></li>
                            </ul>
                            <p class="review-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus hic amet qui velit, molestiae suscipit perferendis, autem doloremque blanditiis dolores nulla excepturi ea nobis!</p>
                            <form class="review-reply">
                                <input type="text" placeholder="reply your thoughts">
                                <button><i class="icofont-reply"></i>reply</button>
                            </form>
                        </li>
                    </ul>
                </div>
                <div class="product-details-frame">
                    <h3 class="frame-title">add your review</h3>
                    <form class="review-form">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="star-rating">
                                    <input type="radio" name="rating" id="star-1"><label for="star-1"></label>
                                    <input type="radio" name="rating" id="star-2"><label for="star-2"></label>
                                    <input type="radio" name="rating" id="star-3"><label for="star-3"></label>
                                    <input type="radio" name="rating" id="star-4"><label for="star-4"></label>
                                    <input type="radio" name="rating" id="star-5"><label for="star-5"></label>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Describe"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <button class="btn btn-inline">
                                    <i class="icofont-water-drop"></i>
                                    <span>drop your review</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=====================================
            PRODUCT TAB PART END
=======================================-->

@section Scripts{


}

