@model Yediginibil.WebUI.Models.Product.DetailsViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{

    <link rel="stylesheet" href="~/theme/css/product-details.css">
    <link href="~/atheme/assets/plugin/toastr/toastr.min.css" rel="stylesheet" />
}

<!--=====================================
                PRODUCT DETAILS PART START
        =======================================-->
<section class="inner-section" style="margin-top: 25px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="details-gallery">
                    <div class="details-label-group">
                        <label class="details-label new">katkısız</label>
                        <label class="details-label off">katkısız</label>
                        <label class="details-label sale">katkısız</label>
                    </div>
                    <ul class="details-preview">
                        @*<li><img src="~/@Model.Product.ImageUrl" alt="product"></li>*@
                        <li><img src="~/@Model.ImageUrl" alt="product"></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="details-content">
                    <h3 class="details-name"><a href="#">@Model.Title</a></h3>
                    <div class="details-rating">
                        @for (int i = 0; i < 5; i++)
                        {
                            if (i < Model.CommentStarAvg)
                            {
                                <i class="active icofont-star"></i>
                            }
                            else
                            {
                                <i class="icofont-star"></i>
                            }
                        }
                        <a href="#comment_list">(@Model.CommentCount Yorum)</a>
                    </div>
                    <p class="details-desc">@Model.ShortDescription</p>
                    <div class="details-list-group">
                        <label class="details-list-title">İçindekiler:</label>
                        <ul class="details-tag-list">
                            @foreach (var item in Model.Ingredients)
                            {
                                <li><a href="@item.Id">@item.Title</a></li>
                            }
                        </ul>
                    </div>
                    <div class="details-list-group">
                        <label class="details-list-title">Paylaş:</label>
                        <ul class="details-share-list">
                            <li><a href="#" class="icofont-facebook" title="Facebook"></a></li>
                            <li><a href="#" class="icofont-twitter" title="Twitter"></a></li>
                            <li><a href="#" class="icofont-linkedin" title="Linkedin"></a></li>
                            <li><a href="#" class="icofont-instagram" title="Instagram"></a></li>
                        </ul>
                    </div>
                    <div class="details-spec-list">
                        <ul class="product-navigation" style="padding: 0px; text-align: center; display: table;">
                            <li class="product-nav-prev" style="display: table-cell;">
                                <a href="#">
                                    <div class="intro-icon">
                                        <i class="fas fa-leaf" style="width: 85px;height: 85px;font-size: 40px;line-height: 75px;"></i><br>
                                        Vegan Uygun
                                    </div>
                                    <span class="product-nav-popup">
                                        <small>Vegan tüketime uygun.</small>
                                    </span>
                                </a>
                            </li>
                            <li class="product-nav-prev" style="display: table-cell;">
                                <a href="#">
                                    <div class="intro-icon">
                                        <img src="~/img/allergens/nogluten.png" style="width: 85px;height: 85px;font-size: 40px;line-height: 75px;" />
                                        Gluten İçermez
                                    </div>
                                    <span class="product-nav-popup">
                                        <small>Ürün bileşenleri gluten içermez. (*) Çölyak rahatsızlığınız varsa etiket kontrolü yapmadan tüketmeyin, ürün içerikleri güncellenebiliyor.</small>
                                    </span>
                                </a>
                            </li>
                            <li class="product-nav-prev" style="display: table-cell;">
                                <a href="#">
                                    <div class="intro-icon">
                                        <img src="~/img/allergens/nogluten2.png" style="width: 85px;height: 85px;font-size: 40px;line-height: 75px;" />
                                        Gluten İçermez
                                    </div>
                                    <span class="product-nav-popup">
                                        <small>Ürün bileşenleri gluten içermez. (*) Çölyak rahatsızlığınız varsa etiket kontrolü yapmadan tüketmeyin, ürün içerikleri güncellenebiliyor.</small>
                                    </span>
                                </a>
                            </li>
                            <li class="product-nav-prev" style="display: table-cell;">
                                <a href="#">
                                    <div class="intro-icon">
                                        <i class="fas fa-times" style="width: 85px;height: 85px;font-size: 40px;line-height: 75px; color:#E60023;border: 3px double #E60023;"></i><br>
                                        Organik Değil
                                    </div>
                                    <span class="product-nav-popup">
                                        <small>Organik ürün belgesine sahip değildir.</small>
                                    </span>
                                </a>
                            </li>
                            <li class="product-nav-prev" style="display: table-cell;">
                                <a href="#">
                                    <div class="intro-icon">
                                        <i class="fas fa-leaf" style="width: 85px;height: 85px;font-size: 40px;line-height: 75px;"></i><br>
                                        Helal Bileşenli
                                    </div>
                                    <span class="product-nav-popup">
                                        <small>İçerdiği bileşenler bakımından helal tüketime uygun.</small>
                                    </span>
                                </a>
                            </li>
                            <li class="product-nav-prev" style="display: table-cell;">
                                <a href="#">
                                    <div class="intro-icon">
                                        <i class="fas fa-leaf" style="width: 85px;height: 85px;font-size: 40px;line-height: 75px;"></i><br>
                                        Vejetaryen Uygun
                                    </div>
                                    <span class="product-nav-popup">
                                        <small>Vejetaryen tüketime uygun.</small>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=====================================
        PRODUCT DETAILS PART END
=======================================-->
<!--=====================================
          PRODUCT TAB PART START
=======================================-->
<section class="inner-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="product-details-frame">
                    <h3 class="frame-title">Ürün Açıklaması</h3>
                    <div class="tab-descrip">
                        @*@Html.Raw(Model.Product.LongDescription)*@
                        @Html.Raw(Model.LongDescription)
                    </div>
                </div>
                <div class="product-details-frame">
                    <h3 class="frame-title">Besin Değerleri</h3>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td>Besin Değeri</td>
                                <td>100 g / ml</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Product code</th>
                                <td>SKU: 101783</td>
                            </tr>
                            <tr>
                                <th scope="row">Weight</th>
                                <td>1kg, 2kg</td>
                            </tr>
                            <tr>
                                <th scope="row">Styles</th>
                                <td>Girly</td>
                            </tr>
                            <tr>
                                <th scope="row">Properties</th>
                                <td>Short Dress</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="product-details-frame" id="comment_list">
                    <h3 class="frame-title">Yorumlar (@Model.CommentCount)</h3>
                    <ul class="review-list">
                        @if (Model.CommentCount <= 0)
                        {
                            <li>
                                <h4>"@Model.Title" için henüz yorum yapılmamıştır. İlk yorumu siz yapın..</h4>
                            </li>
                        }
                        @foreach (var comments in Model.Comments)
                        {
                            <li class="review-item">
                                <div class="review-media">
                                    <a class="review-avatar" href="#">
                                        <img src="~/theme/images/avatar/user.png" alt="review">
                                    </a>
                                    <h5 class="review-meta">
                                        <a href="#">@comments.NameSurname</a>
                                        <span>@(((DateTime)comments.CreatingDate).ToString("dd.MM.yyyy"))</span>
                                    </h5>
                                </div>
                                <ul class="review-rating">
                                    @for (int i = 0; i < 5; i++)
                                    {
                                        if (i < comments.Star)
                                        {
                                            <li class="icofont-ui-rating"></li>
                                        }
                                        else
                                        {
                                            <li class="icofont-ui-rate-blank"></li>
                                        }
                                    }
                                </ul>
                                <p class="review-desc">@comments.Content</p>
                            </li>
                        }
                    </ul>
                </div>
                <div class="product-details-frame">
                    <h3 class="frame-title">Yorum Yap</h3>
                    <form class="review-form" method="post" action="~/Product/CommentAdd">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="star-rating">
                                    <input type="radio" name="Star" id="star-1" value="5"><label for="star-1"></label>
                                    <input type="radio" name="Star" id="star-2" value="4"><label for="star-2"></label>
                                    <input type="radio" name="Star" id="star-3" value="3"><label for="star-3"></label>
                                    <input type="radio" name="Star" id="star-4" value="2"><label for="star-4"></label>
                                    <input type="radio" name="Star" id="star-5" value="1"><label for="star-5"></label>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Yorumunuzu yazın.." name="Content"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Ad soyad yazın.." name="NameSurname">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="E-mail adresinizi yazın.." name="Email">
                                    <input type="hidden" name="Type" value="True" />
                                    <input type="hidden" name="BlogId" value="0" />
                                    <input type="hidden" name="ProductId" value="@Model.Id" />
                                    <input type="hidden" name="Star" value="0" />
                                    <input type="hidden" name="Status" value="False" />
                                    <input type="hidden" name="ProductSeoUrl" value="@Model.SeoUrl" />
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <button class="btn btn-inline" type="submit">
                                    <i class="icofont-water-drop"></i>
                                    <span>Yorumu Gönder</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=====================================
            PRODUCT TAB PART END
=======================================-->

@section Scripts{

    <script src="~/atheme/assets/plugin/toastr/toastr.min.js"></script>

    @{ if ((string)TempData["Message"] == "Success")
        {
            <script>
                $(document).ready(function onDocumentReady() {
                    toastr.success("@TempData["Message_Detail"]");
                });
            </script>
        }
        else if ((string)TempData["Message"] == "Error")
        {
            <script>
                $(document).ready(function onDocumentReady() {
                    toastr.error("@TempData["Message_Detail"]");
                });
            </script>
        }
    }
}

