@model Yediginibil.WebUI.Models.Home.ListViewModel
@{
    ViewData["Title"] = "Home Page";
}

<!--=====================================
                RECENT PART START
    =======================================-->
<section class="section recent-part" style="margin-top: 25px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Yeni Ürünler</h2>
                </div>
            </div>
        </div>
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
            @foreach (var product in Model.Products)
            {
                <div class="col">
                    <div class="product-card">
                        <div class="product-media">
                            <div class="product-label">
                                <label class="label-text sale">katkısız</label>
                            </div>
                            <a class="product-image" href="~/Product/Details/@product.Id/@product.SeoUrl">
                                @*<a class="product-image" asp-area="" asp-controller="Product" asp-action="Details" asp-route-id="@item.Id" asp-route-seourl="@item.SeoUrl">*@
                                <img src="~/@product.ImageUrl" alt="product">
                            </a>
                        </div>
                        <div class="product-content">
                            <h6 class="product-name">
                                <a href="~/Product/Details/@product.Id/@product.SeoUrl">@product.Title</a>
                            </h6>
                            <a class="product-add" href="~/Product/Details/@product.Id/@product.SeoUrl">
                                <span>ürünü incele</span>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="section-btn-25">
                    <a href="~/Product" class="btn btn-outline">
                        <i class="fas fa-eye"></i>
                        <span>Tüm Ürünleri Gör</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=====================================
            RECENT PART END
=======================================-->
<!--=====================================
              BLOG PART START
=======================================-->
<section class="section blog-part">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h2>Blog</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-slider slider-arrow">
                    @foreach (var blog in Model.Blogs)
                    {
                     <div class="blog-card">
                        <div class="blog-media">
                            <a class="blog-img" href="~/Blog/Details/@blog.Id/@blog.SeoUrl">
                                <img src="~/@blog.Image" alt="@blog.SeoTitle" title="@blog.SeoTitle">
                            </a>
                        </div>
                        <div class="blog-content">
                            <h4 class="blog-title">
                                <a href="~/Blog/Details/@blog.Id/@blog.SeoUrl">@blog.Title</a>
                            </h4>
                            <p class="blog-desc">
                                @blog.SeoDescription
                            </p>
                            <a class="blog-btn" href="~/Blog/Details/@blog.Id/@blog.SeoUrl">
                                <span>devamını oku</span>
                                <i class="icofont-arrow-right"></i>
                            </a>
                        </div>
                     </div>
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="section-btn-25">
                    <a href="~/Blog" class="btn btn-outline">
                        <i class="fas fa-eye"></i>
                        <span>tüm blogları gör</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=====================================
              BLOG PART END
=======================================-->
